body {
  font-family: 'Varela Round', sans-serif;
  background-color: grey;
  color: #22313f;
}


/* Level, Winner, Game Over modal CSS*/
.level-modal{
  position: absolute;
  font-size: 100pt;
  visibility: hidden;

  padding-left: 15px;
  padding-right: 15px;

  background: rgba(225, 226, 241, 0.90);
  border-radius: 15px;
  box-sizing: border-box;
}


.game-over-modal {
  position: absolute;
  font-size: 100pt;
  visibility: visible;

  padding-left: 15px;
  padding-right: 15px;

  background: rgba(225, 226, 241, 0.90);
  border-radius: 15px;
  box-sizing: border-box;
}

.winner-modal{
  position: absolute;
  font-size: 100pt;
  visibility: visible;

  padding-left: 15px;
  padding-right: 15px;

  background: rgba(225, 226, 241, 0.90);
  border-radius: 15px;
  box-sizing: border-box;
}

/*Level and Tries container CSS*/

.centered {
  position: fixed; /* or absolute */
  top: 35%;
  left: 35%;
}


.level-number-container {
  /*makes tag not super greedy*/
  width: 115px;
  border: 2px solid;
  border-radius: 15px;
  padding: 5px 20px;
  font-size: 30px;
  margin-bottom: 10px;
  float: left;

}

.tiles-left-container{
  width: 300px;
  border: 2px solid;
  border-radius: 15px;
  padding: 5px 20px;
  font-size: 30px;
  margin-bottom: 10px;

  margin-left: 205px;
  position: absolute;
  text-align: center;
}


.tries-number-container {
  /*makes tag not super greedy*/
  width: 130px;
  border: 2px solid;
  border-radius: 15px;
  padding: 5px 20px;
  font-size: 30px;
  float:right;
  margin-bottom: 10px;

}


/*CSS to be used to reflect level on level container*/
.level-1-container{border-color: #1AB8DF;}
.level-2-container{border-color: #2ECC71;}
.level-3-container{border-color: #F1C70F;}
.level-4-container{border-color: #F39C12;}
.level-5-container{border-color: #FE465C;}

/*Container used to center User interface.. Could have achieved in an easier way.*/
.centering-container {
  width: 1655px;
  margin-left: 105px;
}

/*CSS for final submission*/
/*Container used to center User interface.. Could have achieved in an easier way.*/
/*.centering-container {
  width: 770px;
  margin-left: 500px;
}*/


/*CSS for Player Board*/
.reference-board {
  border-radius: 15px;
  padding: 10px;
  width: 750px; /*good size for a game.*/
  float: left;
}

/*For demonstration purposes only.*/
/*Remove before final submission*/
/*CSS for board that shows actual tile placent*/
.board {
  background: #2c3e50;
  border-radius: 15px;
  padding: 10px;
  width: 750px; /*good size for a game.*/
  margin-left: 50px;
  float: left;
}

/*CSS for cells*/
.cell {
  background: rgba(225, 226, 241, 0.5);
  border-radius: 15px;
  box-sizing: border-box;
  width: 130px;
  height: 130px;
  float: left; /*floated left so they stack up*/
  margin: 10px;

}

/*CSS for on cell hover (mouse over) */
.cell:hover{

box-shadow: 0 1px 8px black;

}

/*Only needed for demonstation purposed*/
/*Can comment out if desired*/
.ship-cell {
  background-image: url('../img/shot.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  border-radius: 15px;
  box-sizing: border-box;
  height: 130px;
  float: left;
  margin: 10px;
  width: 130px;
}

/*CSS for discovered tiles*/
.hit-cell{
  background-image: url('../img/hit.png');
  background-size: contain;;
  background-repeat: no-repeat;
  border-radius: 15px;
  box-sizing: border-box;
  height: 130px;
  float: left;
  margin: 10px;
  width: 130px;
}

/*CSS for game board on respective level.*/
.level-1{background-color: #1AB8DF;}
.level-2{background-color: #2ECC71;}
.level-3{background-color: #F1C70F;}
.level-4{background-color: #F39C12;}
.level-5{background-color: #FE465C;}

/*to clear each tile*/
.clearfix {
  clear: both;
}
